<link rel="stylesheet" href="/css/header.css" />
<header>
  <div id="logo">
    <a href="http://localhost:8000">Student Management System</a>
  </div>
  <div id="nav">
    <ul>
      <% if(locals.user && title != "SMS | Home"){ %>
      <li><a href="http://localhost:8000">Home</a></li>
      <% } %> <% if(locals.user){ %>
      <li><a href="/users/sign-out">Sign Out</a></li>
      <% }else{ %> <% if(locals.title.includes("SignUp")) { %>
      <li><a href="/users/sign-in">Sign In</a></li>
      <% } else { %>
      <li><a href="/users/sign-up">Sign Up</a></li>
      <% } %> <% } %>
    </ul>
  </div>
</header>
