<link rel="stylesheet" href="/css/header.css" />
<header>
  <div id="logo">
    <a href="http://localhost:8000">Student Management System</a>
  </div>
  <div id="nav">
    <ul>
      <% if(locals.user && (title == "SMS | CSV" || title == "SMS | Interviews"
      || title == "SMS | Batches" || title == "SMS | Students")){ %>
      <li><a href="http://localhost:8000">Back</a></li>
      <% } else if(locals.user && (title == "SMS | Edit Student")){ %>
      <li><a href="http://localhost:8000/students">Back</a></li>
      <% } else if(locals.user && (title == "SMS | Interview")){ %>
      <li><a href="http://localhost:8000/interviews">Back</a></li>
      <% } %> <% if(locals.user){ %>
      <li><a href="/users/sign-out">Sign Out</a></li>
      <% }else{ %> <% if(locals.title.includes("SignUp")) { %>
      <li><a href="/users/sign-in">Sign In</a></li>
      <% } else { %>
      <li><a href="/users/sign-up">Sign Up</a></li>
      <% } %> <% } %>
    </ul>
  </div>
</header>
