<link rel="stylesheet" href="/css/csv.css" />
<div id="export-csv">
  <a href="/csv/download"><button id="export-csv-btn">Download CSV</button></a>
</div>
<table id="csv">
  <thead>
    <tr>
      <% for(key of keys) { %>
      <th><%= key %></th>
      <% } %>
    </tr>
  </thead>
  <tbody>
    <% for(item of data){ %>
    <tr>
      <% for(key of keys) { %>
      <td><%=item[key]%></td>
      <% } %>
    </tr>
    <% }%>
  </tbody>
</table>
