<link rel="stylesheet" href="/css/home.css" />
<div id="home">
  <div id="user-name">
    Welcome <%= user.name %>
  </div>
  <div id="user-options">
    <a href="/batches">Batches <i class="fas fa-fighter-jet"></i></a>
    <a href="/students">Students <i class="fas fa-fighter-jet"></i></a>
    <a href="/interviews">Interviews <i class="fas fa-fighter-jet"></i></a>
    <a href="/csv">View CSV <i class="fas fa-fighter-jet"></i></a>
    <a href="/csv/download">Download CSV <i class="fas fa-fighter-jet"></i></a>
  </div>
</div>
<div id="message">
  <% if(locals.message) { %> <%= message %> <% } %>
</div>
