<link rel="stylesheet" href="/css/home.css" />
<div id="home">
  <div id="user-name">
    Welcome <%= user.name %>
  </div>
  <div id="user-options">
    <a href="/batches">Batches <i class="fas fa-fighter-jet"></i></a>
    <a href="/students">Students <i class="fas fa-fighter-jet"></i></a>
    <a href="/interviews">Interviews <i class="fas fa-fighter-jet"></i></a>
    <a href="/csv">csv <i class="fas fa-fighter-jet"></i></a>
  </div>
</div>
