#home {
  width: 85%;
}

#user-name {
  font-size: 2.5rem;
  font-family: "Courier New", Courier, monospace;
  text-align: left;
}

#user-options {
  width: 40%;
  margin: 25px auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

a {
  color: #2c2d30;
  text-decoration: none;
  font-size: 1.8rem;
  padding: 15px;
}
